<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,96}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,96}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>boom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{154,192}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{154,192}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>boom3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{234,286}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{234,286}}</string>
                <key>sourceSize</key>
                <string>{240,300}</string>
            </dict>
            <key>boom4.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{310,382}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{310,382}}</string>
                <key>sourceSize</key>
                <string>{320,400}</string>
            </dict>
            <key>boom5.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{464,574}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{464,574}}</string>
                <key>sourceSize</key>
                <string>{480,600}</string>
            </dict>
            <key>boom6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,2},{620,764}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{620,764}}</string>
                <key>sourceSize</key>
                <string>{640,800}</string>
            </dict>
            <key>invincible1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{271,298}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{271,298}}</string>
                <key>sourceSize</key>
                <string>{287,300}</string>
            </dict>
            <key>invincible2.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,768},{271,298}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{271,298}}</string>
                <key>sourceSize</key>
                <string>{287,300}</string>
            </dict>
            <key>spaceman-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,768},{221,136}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{221,136}}</string>
                <key>sourceSize</key>
                <string>{221,174}</string>
            </dict>
            <key>spaceman-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,768},{221,136}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{221,136}}</string>
                <key>sourceSize</key>
                <string>{221,174}</string>
            </dict>
            <key>spaceman-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,768},{221,138}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{221,138}}</string>
                <key>sourceSize</key>
                <string>{221,174}</string>
            </dict>
            <key>spaceman-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,768},{221,158}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{221,158}}</string>
                <key>sourceSize</key>
                <string>{221,174}</string>
            </dict>
            <key>spaceman-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,768},{221,168}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{221,168}}</string>
                <key>sourceSize</key>
                <string>{221,174}</string>
            </dict>
            <key>spaceman-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,768},{221,158}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{221,158}}</string>
                <key>sourceSize</key>
                <string>{221,174}</string>
            </dict>
            <key>spaceman-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,768},{221,138}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{221,138}}</string>
                <key>sourceSize</key>
                <string>{221,174}</string>
            </dict>
            <key>spaceman-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,768},{221,136}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{221,136}}</string>
                <key>sourceSize</key>
                <string>{221,174}</string>
            </dict>
            <key>spaceman_magnet_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,768},{221,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,180}}</string>
                <key>sourceSize</key>
                <string>{221,180}</string>
            </dict>
            <key>spaceman_magnet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1068},{221,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,180}}</string>
                <key>sourceSize</key>
                <string>{221,180}</string>
            </dict>
            <key>spaceman_magnet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1068},{221,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,180}}</string>
                <key>sourceSize</key>
                <string>{221,180}</string>
            </dict>
            <key>spaceman_magnet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1068},{221,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,180}}</string>
                <key>sourceSize</key>
                <string>{221,180}</string>
            </dict>
            <key>spaceman_magnet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1068},{221,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,180}}</string>
                <key>sourceSize</key>
                <string>{221,180}</string>
            </dict>
            <key>spaceship-shield-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1068},{258,178}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{258,178}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>spaceship-shield-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1068},{252,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{252,178}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>spaceship-shield-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,1068},{258,178}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{258,178}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>spaceship-shield-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,1068},{252,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{252,178}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>spaceship1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{258,178}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{258,178}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>spaceship2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1250},{252,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{252,178}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Character.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32518c5ef03e37af0b11dbc175d6a135$</string>
            <key>textureFileName</key>
            <string>Character.png</string>
        </dict>
    </dict>
</plist>
