<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spaceman-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,601},{221,136}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{221,136}}</string>
                <key>sourceSize</key>
                <string>{221,174}</string>
            </dict>
            <key>spaceman-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{221,136}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{221,136}}</string>
                <key>sourceSize</key>
                <string>{221,174}</string>
            </dict>
            <key>spaceman-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,601},{221,138}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{221,138}}</string>
                <key>sourceSize</key>
                <string>{221,174}</string>
            </dict>
            <key>spaceman-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,601},{221,158}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{221,158}}</string>
                <key>sourceSize</key>
                <string>{221,174}</string>
            </dict>
            <key>spaceman-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,761},{221,168}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{221,168}}</string>
                <key>sourceSize</key>
                <string>{221,174}</string>
            </dict>
            <key>spaceman-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,601},{221,158}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{221,158}}</string>
                <key>sourceSize</key>
                <string>{221,174}</string>
            </dict>
            <key>spaceman-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,601},{221,138}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{221,138}}</string>
                <key>sourceSize</key>
                <string>{221,174}</string>
            </dict>
            <key>spaceman-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{221,136}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{221,136}}</string>
                <key>sourceSize</key>
                <string>{221,174}</string>
            </dict>
            <key>spaceman_magnet_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,761},{221,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,180}}</string>
                <key>sourceSize</key>
                <string>{221,180}</string>
            </dict>
            <key>spaceman_magnet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,761},{221,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,180}}</string>
                <key>sourceSize</key>
                <string>{221,180}</string>
            </dict>
            <key>spaceman_magnet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,761},{221,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,180}}</string>
                <key>sourceSize</key>
                <string>{221,180}</string>
            </dict>
            <key>spaceman_magnet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,316},{221,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,180}}</string>
                <key>sourceSize</key>
                <string>{221,180}</string>
            </dict>
            <key>spaceman_magnet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,316},{221,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,180}}</string>
                <key>sourceSize</key>
                <string>{221,180}</string>
            </dict>
            <key>spaceship_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{198,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,312}}</string>
                <key>sourceSize</key>
                <string>{198,312}</string>
            </dict>
            <key>spaceship_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{198,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,312}}</string>
                <key>sourceSize</key>
                <string>{198,312}</string>
            </dict>
            <key>spaceship_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,312}}</string>
                <key>sourceSize</key>
                <string>{198,312}</string>
            </dict>
            <key>spaceship_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{198,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,312}}</string>
                <key>sourceSize</key>
                <string>{198,312}</string>
            </dict>
            <key>spaceship_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,316},{205,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,283}}</string>
                <key>sourceSize</key>
                <string>{205,283}</string>
            </dict>
            <key>spaceship_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,2},{205,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,283}}</string>
                <key>sourceSize</key>
                <string>{205,283}</string>
            </dict>
            <key>spaceship_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{205,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,283}}</string>
                <key>sourceSize</key>
                <string>{205,283}</string>
            </dict>
            <key>spaceship_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{205,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,283}}</string>
                <key>sourceSize</key>
                <string>{205,283}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Character.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b442771b1cb064cff901d57f184651e$</string>
            <key>textureFileName</key>
            <string>Character.png</string>
        </dict>
    </dict>
</plist>
