<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>menu-bg-body-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {624, 383}}</string>
			<key>spriteOffset</key>
			<string>{0, 10}</string>
			<key>spriteSize</key>
			<string>{624, 383}</string>
			<key>spriteSourceSize</key>
			<string>{624, 403}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1362, 480}, {624, 383}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu-bg-bread-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {403, 290}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{403, 290}</string>
			<key>spriteSourceSize</key>
			<string>{403, 302}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3642, 0}, {403, 290}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu-bg-bread-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 20}, {375, 268}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{375, 268}</string>
			<key>spriteSourceSize</key>
			<string>{403, 302}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2882, 0}, {375, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu-bg-bread-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 25}, {359, 256}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{359, 256}</string>
			<key>spriteSourceSize</key>
			<string>{403, 302}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2523, 0}, {359, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu-bg-btm.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {2048, 1536}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{2048, 1536}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 1536}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1731}, {2048, 1536}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu-bg-buttonpanel.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {976, 1060}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{976, 1060}</string>
			<key>spriteSourceSize</key>
			<string>{976, 1060}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2760, 480}, {976, 1060}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu-bg-planet-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {334, 253}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{334, 253}</string>
			<key>spriteSourceSize</key>
			<string>{334, 255}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2189, 0}, {334, 253}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu-bg-planet2-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {385, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{385, 480}</string>
			<key>spriteSourceSize</key>
			<string>{385, 482}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3257, 0}, {385, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu-bg-star1-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 14}, {320, 215}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{320, 215}</string>
			<key>spriteSourceSize</key>
			<string>{330, 233}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{909, 0}, {320, 215}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu-bg-star1-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 14}, {320, 215}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{320, 215}</string>
			<key>spriteSourceSize</key>
			<string>{330, 233}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1229, 0}, {320, 215}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu-bg-star1-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 14}, {320, 215}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{320, 215}</string>
			<key>spriteSourceSize</key>
			<string>{330, 233}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1869, 0}, {320, 215}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu-bg-star1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 14}, {320, 215}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{320, 215}</string>
			<key>spriteSourceSize</key>
			<string>{330, 233}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1549, 0}, {320, 215}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu-bg-star2-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 9}, {303, 219}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{303, 219}</string>
			<key>spriteSourceSize</key>
			<string>{315, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {303, 219}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu-bg-star2-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 9}, {303, 219}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{303, 219}</string>
			<key>spriteSourceSize</key>
			<string>{315, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{303, 0}, {303, 219}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu-bg-star2-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 9}, {303, 219}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{303, 219}</string>
			<key>spriteSourceSize</key>
			<string>{315, 241}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{606, 0}, {303, 219}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu-bg-star3-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {454, 371}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{454, 371}</string>
			<key>spriteSourceSize</key>
			<string>{462, 371}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{908, 480}, {454, 371}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu-bg-star3-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {454, 371}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{454, 371}</string>
			<key>spriteSourceSize</key>
			<string>{462, 371}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 480}, {454, 371}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu-bg-star3-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {454, 371}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{454, 371}</string>
			<key>spriteSourceSize</key>
			<string>{462, 371}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 480}, {454, 371}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu-bg-title.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {774, 1251}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{774, 1251}</string>
			<key>spriteSourceSize</key>
			<string>{774, 1251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1986, 480}, {774, 1251}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>menu_bg.zwd</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>menu_bg_elmt</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>menu_bg_elmt</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>