<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obstacle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>obstacle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{114,90}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{114,90}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>obstacle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{116,84}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{116,84}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>obstacle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{116,78}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{116,78}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>obstacle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{118,76}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{118,76}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>obstacle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,104},{120,76}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{120,76}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>obstacle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,104},{120,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{120,84}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>obstacle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,104},{102,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{102,98}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>obstacle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{104,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{104,96}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>obstacle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,204},{104,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{104,98}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>obstacle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,204},{104,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{104,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>obstacle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,204},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>obstacle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>obstacle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,306},{108,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{108,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>obstacle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,306},{112,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{112,92}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>obstacle.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f53916047b119dc799a315c387576a3$</string>
            <key>textureFileName</key>
            <string>obstacle.png</string>
        </dict>
    </dict>
</plist>
