<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TreasureBoom_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,103}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{116,103}}</string>
                <key>sourceSize</key>
                <string>{150,129}</string>
            </dict>
            <key>TreasureBoom_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,103}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{116,103}}</string>
                <key>sourceSize</key>
                <string>{150,129}</string>
            </dict>
            <key>TreasureBoom_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{116,103}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{116,103}}</string>
                <key>sourceSize</key>
                <string>{150,129}</string>
            </dict>
            <key>TreasureBoom_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,107},{116,103}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{116,103}}</string>
                <key>sourceSize</key>
                <string>{150,129}</string>
            </dict>
            <key>TreasureBoom_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{114,109}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{114,109}}</string>
                <key>sourceSize</key>
                <string>{150,129}</string>
            </dict>
            <key>TreasureBoom_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,212},{114,109}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{114,109}}</string>
                <key>sourceSize</key>
                <string>{150,129}</string>
            </dict>
            <key>TreasureBoom_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{114,109}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{114,109}}</string>
                <key>sourceSize</key>
                <string>{150,129}</string>
            </dict>
            <key>TreasureBoom_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,323},{114,109}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{114,109}}</string>
                <key>sourceSize</key>
                <string>{150,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Treasure.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a530fb28b8c68861f4f3fc3c1970a24$</string>
            <key>textureFileName</key>
            <string>Treasure.png</string>
        </dict>
    </dict>
</plist>
